/** { 
  margin: 0; 
  padding: 0; 
}*/

html {
  background: #79C8CF url("../images/noise.png");
}

body { 
  font: 14px Helvetica, Arial; 
}

h1 {
  padding: 0;
  margin: 0;
}

#header {
  color: #eee;
  padding: 20px 0px;
  margin-bottom: 1em;
  background-color: #013168;
  box-shadow: 0 0 5px #333;
  position: fixed;
  width: 100%;
  margin-top:0;
  top:0;
  left:0;
}

#header h1 {
  font-size: 2em;
}

#content {
  padding-top: 6em;
}


#footer {
  padding: 10px; 
  background-color: #013168;
  position: fixed;
  bottom:0;
  left:0;
  width: 100%; 
}

form input { 
  padding: 10px;
  width: 75%;
  /*margin-right: .5%;*/
  border: 1px solid #333;
}

form button {
 width: 9.0%; 
 background: #79C8CF; 
 border: none; 
 padding: 10px; 
 color: #fff; 
}

form button.delete {
  background: #e4e;
}

form div.buttons {
  display: inline;
  width: 20%;
}

#messages {
 list-style-type: none;
 margin: 0;
 padding: 0; 
 padding-bottom: 3em;
}

#messages li { 
  background-color: #013168;
  color: #eee;
  font-size: 2em;
  padding: 10px 20px;
  border: 1px solid #333;
  margin: 10px 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#messages li:last-child {
  font-weight: bold;
  width: 90%;
  text-align: center;
}

.date {
  font-size: .5em;
  display: block;
  margin-left: auto;
  float: right;
}

#messages li.ev {
  background-color: #f7080e;
}

#messages li.gmbh {
  background-color: #f7980e;
}

@media screen and (max-width: 500px) {
  .date {
    float:none;
  }

  form div.buttons {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  form input {
    display:block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  form button {
    width:45%;
  }
}