<!doctype html>
<html>
  <head>
    <title>Billboard</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
  <h1><center>Janz wischtiges Zeuch</center></h1>
    <ul id="messages">
      {% for item in data %}
        <li>
        <span class="date">{{ item.date }}</span>
          {{ item.message }}
          
        </li>
      {%endfor%}
    </ul>
    {% block content %}{% endblock %}


    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="js/chat.js"></script>
  </body>
</html>